<div class="col-12 col-md-5 calendar overflow-auto">
  <div class="d-flex align-items-center justify-content-between">
    <h4 id="year">2021</h4>
    <h4 class="display-6 text-capitalize" id="month-name">Aralık</h4>
  </div>
  <div
    class="btn-group"
    role="group"
    aria-label="Button group with nested dropdown"
  >
    <button type="button" class="btn btn-info" id="back">Geri</button>
    <button type="button" class="btn btn-success" id="now">Günümüz</button>
    <button type="button" class="btn btn-primary" id="forward">İleri</button>
  </div>

  <div class="weeks">
    <div class="week">Pzt</div>
    <div class="week">Salı</div>
    <div class="week">Çar</div>
    <div class="week">Per</div>
    <div class="week">Cum</div>
    <div class="week">Cmt</div>
    <div class="week">Paz</div>
  </div>
  <div class="days">
  </div>
  <ul id="events" class="list-group my-3">
  </ul>

</div>

<script src="/scripts/calendar.js"></script>