<div class="d-block overflow-auto">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Danışman</th>
        <th scope="col"></th>
        <th scope="col">Ders Adı</th>
        <th scope="col">Tarih</th>
        <th scope="col">Başla</th>
      </tr>
    </thead>
    <tbody id="exam-list">
    </tbody>
  </table>
</div>