<div class="list-group rule-items d-none" id="rules">
  <a
    href="#"
    class="list-group-item list-group-item-action active"
    aria-current="true"
  >
    Kurallar
  </a>
  <a href="#" class="list-group-item list-group-item-action">Sekme
    değiştirmeyin.</a>
  <a href="#" class="list-group-item list-group-item-action">Kameranızı açın.</a>
  <a href="#" class="list-group-item list-group-item-action">Sınav boyunca
    kendinizi kamerada gösterin.</a>
  <a href="#" class="list-group-item list-group-item-action">Kamerada sizden
    başka kimse olmasın.</a>
</div>

<button class="btn btn-success w-100 my-3 rule-items d-none" id="accept-rules">
  <ion-icon name="bookmarks-outline"></ion-icon>
  Kuralları Okudum, Kabul Ediyorum
</button>