<div
  class="d-flex justify-content-center align-items-center flex-column"
  id="permission"
>
  <img width="400px" src="/images/ask-permission.svg" alt="Erişim İzni" />
  <h1 class="display-4">Bazı izinlere ihtiyacımız var.</h1>
  <p>Lütfen ekran paylaşımı ve kamera izni verin.</p>
  <button class="btn btn-success" id="ask-permission">İzin ver ve başla</button>
</div>