<script
  src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
></script>
<div class="d-flex justify-content-center align-items-center flex-column">
  <lottie-player
    src="https://assets1.lottiefiles.com/private_files/lf30_yo2zavgg.json"
    background="transparent"
    speed="1"
    style="width: 300px; height: 300px;"
    autoplay
  ></lottie-player>
  <h1 class="display-4">Tebrikler</h1>
  <p>Sınavızı tamamladınız.</p>
  <a href="/" class="btn btn-success">Ana Sayfaya Dön</a>
</div>