<div class="d-flex justify-content-center align-items-center flex-column">
  <img width="400px" src="/images/cancelled.svg" alt="sınavınız iptal oldu" />
  <h1 class="display-4">Sınavınız İptal Oldu</h1>
  <p>Kopya çekmeye çalıştığınız için sınavınız iptal olmuştur.</p>
  <a href="/" class="btn btn-danger">Ana Sayfaya Dön</a>
</div>