{{> home/examList }}
<div class="row">
    {{> home/announcements }}
    {{> home/calendar }}
</div>
<script src="/modules/timeago.js/dist/timeago.min.js"></script>
<script src="/scripts/timeago-locales.js"></script>
<script src="/scripts/home.js"></script>